* {
  box-sizing: border-box;
}

body {
  background: #151519;
  color: white;
}

#navbar {
  background: rgb(27, 27, 19);
}

.cool-title {
  font-size: 25px;
  background: -webkit-linear-gradient(90deg, gray, white 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Raleway', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif !important;
}

.menu-items {
  font-family: 'Kanit', sans-serif;
}
.MuiPaper-root {
  background: linear-gradient(0deg, rgb(34, 33, 33) 70%, rgb(35, 35, 58));
  color: white !important;
}

.MuiDialog-paperWidthSm {
  min-width: 400px;
}

.MuiDialogTitle-root {
  text-align: center;
}

.heli-details-list li {
  display: flex;
  justify-content: space-between;
  margin: 10px 15%;
}

.video {
  z-index: 0;
  position: fixed;
  right:15%;
  object-fit: none;
  object-position: center center;
  transform: scale(1.8);
  overflow: hidden;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.heli-form-button {
  align-self: flex-end;
  color: dodgerblue;
  width: 25%;
  padding: 5px;
  border: 2px solid dodgerblue;
  margin: 10px;
  transition: 0.2s;
}

.heli-form-button:hover {
  background-color: dodgerblue;
  color: white;
  border: 2px solid transparent;
}
